<div class="payment"
	 fxLayout
     fxLayoutAlign="center center">
	<mat-card>
		<mat-card-title>Payment</mat-card-title>
		<br>
		<mat-card-content *ngIf="!payerror">
			<div fxLayout fxLayoutAlign="space-between center">
				<span>Particulars</span>
				<span>Charges</span>
			</div>
			<div class="br"></div>
			<div fxLayout fxLayoutAlign="space-between center">
				<span>Room Rent (×&nbsp;{{data.rooms}}&nbsp;Rooms&nbsp;×&nbsp;{{getDays()}}&nbsp;Days)</span>
				<span>₹&nbsp;{{roomrent.toFixed(2)}}</span>
			</div>
			<div fxLayout fxLayoutAlign="space-between center">
				<span>Automation Charges</span>
				<span>₹&nbsp;{{automation.toFixed(2)}}</span>
			</div>
			<div class="br"></div>
			<div fxLayout fxLayoutAlign="space-between center">
				<span class="total">Total</span>
				<span class="total">₹&nbsp;{{(roomrent+automation).toFixed(2)}}</span>
			</div>
			<br>
			<div fxLayout fxLayoutAlign="center center">
				<button mat-raised-button
						(click)="openpayment()"
						[disabled]="sending">Make Payment</button>
			</div>
		</mat-card-content>
		<mat-card-content *ngIf="payerror">
			<div fxLayout="column" fxLayoutAlign="center center">
				<span class="payerror">We are sorry, the payment service is currently unavailable.</span>
				<span class="payerror">However, we have booked the rooms for you and have sent you the details on your email.</span>
				<span class="payerror">Kindly use the link in the email to pay later, preferably before tommorrow midnight.</span>
			</div>
			<br>
			<div fxLayout fxLayoutAlign="center center">
				<button mat-raised-button routerLink="/">Ok</button>
			</div>
		</mat-card-content>
	</mat-card>
</div>
