<div class="app" fxLayout="column" fxLayoutAlign="space-between center">
	<mat-card color="blue" class="header">
	  <button mat-button class="left" routerLink="/"><mat-icon>home</mat-icon> <b>Guest Room Portal</b></button>
	  <!--button mat-button class="right" routerLink="/payment/success">HEC Login</button-->
	  <button mat-button class="right" (click)="openCalendar()"><mat-icon>event_available</mat-icon> <b>Availibality</b></button>
	</mat-card>

	<div class="body">
		<router-outlet></router-outlet>
	</div>

	<mat-card class="footer">
		<div fxLayout fxLayoutAlign="center center">
			<p>Copyright Hall 3</p>
		</div>
	</mat-card>
</div>
