/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
}

.mat-horizontal-content-container {
    padding: 0 20px !important;
}

/* for the calendar */
.cdk-overlay-pane {
    max-width: 420px;
}

.mat-dialog-container {
	padding: 0 !important;
}